/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root {
     -fx-background-image: url("/de/ralfb_web/images/BackgroundSteel1400.png");
}

.progress-bar {
	-fx-accent: #CE5B27;
	-fx-effect: innershadow( three-pass-box , rgba(0.0,0.0,0.0,0.7) , 6.0, 0.0 , 0.0 , 2.0 );
}

.text-label {
   -fx-font-size: 15.0px;
   -fx-font-family: "B612 Regular";
   -fx-fill: black;
}

.textfield-input {
   -fx-font-size: 14.0px;
   -fx-font-family: "B612 Regular";
   -fx-fill: black;
   -fx-background-color: #fffff0;
   -fx-effect: innershadow( three-pass-box , rgba(0.0,0.0,0.0,0.7) , 6.0, 0.0 , 0.0 , 2.0 );
}

.textarea-output .content{
   -fx-text-inner-color: black;
   -fx-background-color: text-area-background;
   -fx-effect: innershadow( three-pass-box , rgba(0.0,0.0,0.0,0.7) , 6.0, 0.0 , 0.0 , 2.0 );
}

.text-area {
   -fx-font-size: 12.5px;
   -fx-font-family: "B612 Regular";
    text-area-background: #fffff0;
}

.start-stop-button {
    -fx-padding: 0;
    -fx-background-color: null;
    -fx-background-insets: 0;
}

.speed-button {
    -fx-padding: 0;
    -fx-background-color: null;
    -fx-background-insets: 0;
}